#header-container {
        background-image: url(image/fpt.jpg); 
        background-size: cover;
        background-position: center;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 20px;
        border-radius: 20px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
img {
    display: block;
    margin-bottom: 20px;
}
audio {
    display: block;
    margin-top: 20px;
}
body {
    background-color: #fffa;
}
footer {
    text-align: center;
}